// navigation border color
$border-color: #999999;
$background-color: #f4f4f4;
$hover-color: #dbe3e8;
$loading-color: #f1b131;

$header_app_height_desktop: 64px;
$header_app_height_mobile: 64px;

$height-sidenav-item: 64px;
$main-toolbar-height: 64px;

$width-sidenav-collapsed: 80px;
$width-sidenav-expanded: 308px;

$card-margin: 48px; // 24px por lado
