.event-list {

  .custom-card-container {

    &.btnOpenEventDetails {
      cursor: pointer;

      &.selected {
        background: #f2f2f2;

        &.banned {
          background: rgba(255, 0, 0, 0.42);
        }
      }

      &.banned {
        background: #ff000042;
      }
    }
  }
}
