.theme-dark {
  &.title-container {
    overflow: hidden;
    height: 64px;
    background: var(--primary-500);
    color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.13);

    .title {
      color: rgba(255, 255, 255, 0.87);
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: normal;
      margin-left: 24px;
      margin-bottom: 0px;
    }

    .number-user {
      color: #ffffff;
      font-family: 'Roboto-Medium';
      background: rgba(255, 255, 255, 0.12);
      font-size: 12px;
      line-height: normal;
      border-radius: 12px;
      letter-spacing: 0.25px;
      margin: 2px 10px;
      padding: 2px 7px;
    }
  }

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 64px;
    height: 64px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
